@import '../variables.scss';

.intro {

    position: relative;
    padding: 50px 0 0;
    margin-bottom: 120px;

    &:after {
        content: '';
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 200%;
        bottom: -30%;
        transform: skewY(3deg);
        @include gradient('green');
    }

    &:before {
        opacity: .3;
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 200%;
        bottom: -30%;
        transform: skewY(3deg);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    }

    h1 {

        padding: 90px 0 60px;
        margin: 0;
        font-weight: 300;
        font-size: 1.6em;
        line-height: 140%;
        color: white;
        text-align: center;

        @media (min-width: $tablet) {
            font-size: 2.5em;
        }

        a {

            color: white;
            text-decoration: none;
            font-weight: 500;
            transition: .2s ease;

            &:hover {
                border-bottom: 3px solid white;
            }

        }

    }

}

.stack {

    padding: 14vh 0;
    margin-bottom: 200px;

    h2 {

        color: #444;
        padding: 30px 0;
        font-weight: 400;
        font-size: 1.2em;
        text-align: center;

        @media (min-width: $tablet) {
            font-size: 1.8em;
        }

        span {
            margin-right: 7px;
        }

        .loop {
            margin-right: 5px;
            color: #222;
            font-weight: 600;
        }

    }

}

.open-source {

    position: relative;
    padding: 10px 0 80px;
    margin-bottom: 120px;

    &:after {
        content: '';
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 200%;
        bottom: -30%;
        transform: skewY(3deg);
        @include gradient('dark');
    }

    &:before {
        opacity: .3;
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 200%;
        bottom: -30%;
        transform: skewY(3deg);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {

        margin-right: 50px;
        flex-basis: 140px;

        img {
            width: 100%;
        }

    }

    .desc {

        color: white;

        h2 {

            margin: 10px 0 25px;

            a {

                color: white;
                font-size: 1.4em;
                font-weight: 100;
                margin-bottom: 30px;
                text-decoration: none;
                transition: .2s ease;

                &:hover {
                    border-bottom: 2px solid white;
                }

            }

        }

        p {
            font-weight: 100;
            line-height: 140%;
            font-size: 1.05em;
        }

    }

}

.entrydo {

    padding: 14vh 0;
    margin-bottom: 400px;
    text-align: center;

    .logo {

        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        img {
            width: 100%;
        }

    }

    .desc {

        color: #444;
        font-weight: 100;

        p {
            font-size: 1.5em;
            margin-bottom: 30px;
            line-height: 140%;
        }

        b {
            margin: 0 10px;
        }

    }

}

.footer {

    position: relative;
    color: white;
    background: #111;

    &:after {
        content: '';
        background: #111;
        position: absolute;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 200%;
        bottom: -20vh;
        transform: skewY(3deg);
    }

    .get-in-touch {

        margin-bottom: 300px;
        text-align: center;

        .text {
            font-weight: 100;
            font-size: 1.3em;
            margin-bottom: 50px;
        }

        .cta {

            display: inline-block;
            padding: 12px 20px;
            border: 2px solid $linkedin;
            background: transparent;
            color: $linkedin;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: 400;
            letter-spacing: .02em;
            transition: .4s ease;

            &:hover {
                box-shadow: inset 240px 0 0 0 $linkedin;
                color: white;
            }

            a {

                color: inherit;
                text-decoration: none;

                i {
                    font-size: 1.1em;
                    margin-right: 15px;
                }

            }

        }

    }

    .epilogue {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .author {
            display: flex;
            align-items: center;
            font-weight: 100;
        }

        .board {
            width: 50px;
            transform: rotate(15deg);
        }

        .mj {
            display: inline-block;
            width: 125px;
            margin: 0 20px 0 20px;
        }

    }

}
