@import '../../variables.scss';

.rss-examples {

    background: #f5f5f5;

    .header {

        font-family: $sansSerif;
        padding: 0 15px;
        font-weight: 300;
        color: #222;

        p {
            margin: 0;
            padding: 10px 0;
        }

        a {

            color: inherit;
            text-decoration: none;
            border-bottom: 1px solid #222;
            transition: .1s ease;

            &:hover {
                border-bottom: 0;
            }

        }

    }

}
