@import '../variables.scss';

.footer {

    font-family: $sansSerif;
    padding: 25px;
    text-align: right;

    span {
        color: #bbb;
        font-size: .9em;
        font-weight: 100;
        margin-right: 2px;
    }

    a {
        display: inline-block;
        font-family: $serif;
        text-decoration: none;
        color: #999;
    }

}
