@import '~normalize.css/normalize.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

button {
    outline: none;
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.mobile {

    @media (min-width: $tablet) {
        display: none;
    }

}

.tablet {

    display: none;

    @media (min-width: $tablet) {
        display: initial;
    }

}
