@import '~normalize.css/normalize.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500|Roboto+Slab:300,400');

button {
    outline: none;
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.mobile {

    @media (min-width: $tablet) {
        display: none;
    }

}
